材料表.xlsx
*.log
*Debug.launch
/ImageProcessing/OpenMV/CascadeClassifier
/yolo/
/STM32/Debug
/STM32/Release
/ImageProcessing/Yolo_datasets
/ImageProcessing/YoloFastest/backup/
/ImageProcessing/YoloV4Tiny/yoloV4TinyPreliminaryTrainWithHighBatch320/backup/
/ImageProcessing/YoloV4Tiny/yoloV4TinyRetrainWithRealScene320/backup/
/ImageProcessing/RKNN/Environment/*